* { font-family: monospace; }

body {
    display: grid;
    margin: 0;
    height: 100%;
    /* Top uses its height, bottom takes remaining */
    grid-template-rows: auto 1fr;
    /* Left | Middle | Right */
    grid-template-columns: 20% 1fr 20%;
}

#top {
    grid-column: 1 / -1; /* Span all columns */
    background: #333;
    padding: 5px;
    padding-top: 0;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#top > a {
    background: #556;
    padding: 5px 10px;
    border-right: 5px #55E solid;
    font-size: 24px;
    margin: 5px;
    margin-top: 0;
    color: white;
    text-decoration: none;
}
#top > a.sel {
    background: #887;
    border-right: 5px #DD5 solid;
    color: white;
    font-weight: bold;
}

#left {
    background: #DDD;
}
#middle {
    background: white;
}
#right {
    background: #DDD;
}
